.idea/*
app/comutTest.py
app/db/injection.sql
app/db/libMoissac.sqbpro
app/db/injection*
Dufour_1972_Scriptorium/*
db/libMoissac.db-journal
db/libMoissac.sqbpro
csv/
test.py
resultats-tests/
*__pycache__*
*.db-journal
*.sql
*.graphml
dev.md
fdr-consignes.md
fdr-db.md
problemes.md