.idea/*
Dufour_1972_Scriptorium/*
test.py
db/libMoissac.db-journal
db/libMoissac.sqbpro
*__pycache__*
csv/
json/
dev_test.py
exo-flask_alchemy.py
*.md
*/.idea
app/db/injection.sql
app/db/libMoissac.sqbpro
app/db/injection*
resultats-tests/
app/appliTest.py
user.sql
app/comutTest.py
*.db-journal
aide-gitpush.txt
*.sql
*.graphml
