{% extends "conteneur.html" %}

{% block corps %}
    <h2>Table analytique des auteurs</h2>
        <br>

        {% for id_auteur in auteurs %}
            <h3 id="{{ "auteur" + id_auteur|string }}">{{ auteurs[id_auteur]["label"] }}</h3>

            {% for oeuvre in auteurs[id_auteur]["oeuvres"] %}

                {% for id_oeuvre in oeuvre %}
                    <p>{{ oeuvre[id_oeuvre]["label"] }}</p>

                    {% for item in oeuvre[id_oeuvre]["codices"] %}

                        <ul>
                        {% for id_codex in item %}
                            <li><a href="{{ url_for('notice_codex', num=id_codex)}}">{{item[id_codex]}}</a></li>
                            <p></p>
                        {% endfor %}
                        </ul>
                    {% endfor %}

                {% endfor %}


            {% endfor %}


        {% endfor %}

{% endblock %}