{% extends "conteneur.html" %}

{% block headTitle %}
    <title>Auteurs|Librairie de Moissac</title>
{% endblock %}

{% block corps %}
    <h1>Les auteurs</h1>
        <br>

        {% for auteur in auteurs %}
            <!-- auteur est un dictionnaire-->
            <h2 id="{{ "auteur" + auteur["personne_id"]|string + "°" }}">{{ auteur["label"] }}</h2>

            {% for oeuvre in auteur["oeuvres"] %}

                    <!-- Pour les titres des oeuvres -->
                    <a href="{{ url_for('index', quel_index="oeuvres", _anchor="oeuvre" + oeuvre["oeuvre_id"]|string + "°") }}">
                        <i>{{ oeuvre["titre"] }}</i></a>
                    {% if oeuvre["relation"] == "a pour attribution" %}
                    <span> (attribué à)</span>
                    {% endif %}
                    <!-- Pour les codices qui les contiennent-->
                    {% for codex in oeuvre["contenue_dans"] %}
                        <ul>
                            <li><a href="{{ url_for('notice_codex', num=codex["codex_id"])}}">{{codex["label"]}}</a></li>
                        </ul>
                    {% endfor %}
            {% endfor %}
        {% endfor %}

{% endblock %}