{% extends "conteneur.html" %}

{% block corps %}
{% if titre %}
<header>
    <h2>{{titre}}</h2>
</header>
<div>
    <h3>Histoire</h3>
    <p>{{histoire}}</p>
    <h3>Description matérielle</h3>
    <p>{{materielle}}</p>
    {% if descUCs|length > 1 %}
        <h3>Contenu</h3>
        {% for UC in descUCs %}
            <h4>{{UC["localisation"]}} ({{UC["date"]}})</h4>
            {% if UC["description"] %}
                <p>{{UC["description"]}}</p>
            {% endif %}
            {% for oeuvres in UC["contenu"] %}
                <ul>
                    <li>{{oeuvres[0]}}, {{oeuvres[1]}}</li>
                </ul>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% if descUCs[0]["description"] %}
            <p>{{descUCs[0]["description"]}}</p>
        {% endif %}
        <h3>Date</h3>
        <p>{{descUCs[0]["date"]}}</p>
        <h3>Textes</h3>
        {% for oeuvres in descUCs[0]["contenu"] %}
            <ul>
                <li>{{oeuvres[0]}}, {{oeuvres[1]}}</li>
            </ul>
        {% endfor %}
    {% endif %}
</div>


{% else %}
<h2>{{message_erreur}}</h2>

{% endif %}

{% endblock %}