{% extends "conteneur.html" %}

{% block corps %}
{% if titre %}
<header>
    <h2>{{titre}}</h2>
</header>
<div>
    <h3>Description de la reliure</h3>
    <p>{{reliure}}</p>
    <h3>Histoire</h3>
    <p>{{histoire}}</p>
    <h3>Contenu</h3>
    <ul>
        {% for items in contenu %}
            {% if items.auteur and items.titre %}
                <li>{{items.auteur}} : {{items.titre}}</li>
            {% elif items.auteur and not items.titre %}
                <li>{{items.auteur}}.</li>
            {% elif not items.auteur and items.titre %}
                <li>{{items.titre}}.</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


{% else %}
<h2>{{message_erreur}}</h2>

{% endif %}

{% endblock %}