{% extends "conteneur.html" %}

{% block headTitle %}
    <title>Connexion|Librairie de Moissac</title>
{% endblock %}

{% block corps %}
    <h1>Connexion</h1>
    <form class="row g-3" method="POST" action="{{url_for("connexion")}}">
        <div class="col-md-6 mb-3">
            <label for="register-login" class="col-sm-2 col-form-label">Identifiant</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="register-login" name="login" placeholder="Nom d'utilisateur pour se connecter">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="register-password" class="col-sm-2 col-form-label">Mot de passe</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="register-password" placeholder="Entrez votre mot de passe" name="motdepasse">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Connexion</button>
            <a href="{{url_for("inscription")}}" class="btn btn-secondary">Inscription</a>
        </div>
    </form>
{% endblock %}