body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header > nav {
  background-color: #c16157;
  padding: 20px;
}

h1 {
  color: rgb(215, 198, 182);
}

header > nav > form > input {
  margin-left: 800px;
}

#lateral {
  background-color: rgb(215, 198, 182);
  padding: 0px;
}



main {
  color: rgb(215, 198, 182);
  background-color: #313436;
}

.humilite {
  max-width: 100%;
}