body {
}

.grand_titre {
    position: fixed;
    width: 100%;
    padding: 30px;
    background-color: #d96e49;
}

.grand_titre > nav {
    margin-left: 80%;
}

.div_conteneur {
    display: flex;
}

.menu {
    position: fixed;
    top: 145px;
    height: 90%;
}

.div_conteneur > div {
    margin-top: 115px;
    margin-left: 20%;
    padding: 50px;
    width: 80%;
}