/* Barre de navigation */
.navbar {
    background-color: #a45337;
    padding: 20px;
}

/* Liens hypertextes propres à la barre de navigation */
.navbar a {color: #dad6d1;}
.navbar a:hover {color: #ae8167;}

/* Barre de navigation : bouton recherche */
.btn-outline-success {
    color: #ae8167;
    border-color:#ae8167;
}
.btn-outline-success:hover {
    background-color: #ae8167;
    border-color:#dad6d1;
}

header > nav > form {
    margin-left: 800px;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* div située sous le bandeau supérieur */
.row {
    background-color: #333537;
}

#lateral {
    background-color: #d5c6b8;
    padding: 0px;
}


main {
    color: #dad6d1;
    background-color: #333537;
}

/* Liens hypertextes */
a{color: #ae8167;}
a:hover{color:#a45337;}



.alert-success {
    color: #155724;
    background-color: #85ea8a;
    border-color: #c3e6cb
}

.alert-info {
    color: #0c5460;
    background-color: #1ab5cf;
    border-color: #bee5eb
}

.alert-error {
    color: #ff969c;
    background-color: #a43109;
    border-color: #ff969c
}

.humilite {
    max-width: 100%;
}

.container {
    margin-left: 0px;
}