<!DOCTYPE html>
<html lang="fr">
<head>
    <title>La librairie de l'abbaye de Moissac</title>
    <style>
        .grand_titre {
            padding: 30px;
            background-color: #d96e49;
        }

        .corps_accueil {
            display: flex;
        }

        .corps_accueil > span {
            width: 20%;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="grand_titre">
        <h1 class="title is-1">La librairie de l'abbaye de Moissac</h1>
    </div>
</header>
<div class="corps_accueil">
    <span>
        <img src="https://raw.githubusercontent.com/sbiay/public/master/img/btv1b105254751_f336.jpg"
             alt="Latin 2077 : Humilité">
    </span>
    <div>

    </div>
</div>
</body>
</html>