<!DOCTYPE html>
<html lang="fr">
<head>
    <title>La librairie de l'abbaye de Moissac</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/moissac1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="grand_titre">
        <h1>La librairie de l'abbaye de Moissac</h1>
        <nav class="navbar navbar-light bg-light justify-content-between">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Posez votre question" name="keyword" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
    </div>
</header>
<div class="div_conteneur"> <!--Ceci est la div de mon corps de document-->
    <img class="menu" src="{{ url_for('static', filename='img/tests_accueil/btv1b105254751_f336.jpg')}}"
             alt="Latin 2077 : Humilité">
    <div>{% block corps %}Voici mon conteneur{% endblock %}</div>
</div>
</body>
</html>