<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
      {% block headTitle %}
      {% endblock %}
    <!-- Feuilles de style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/moissac1.css') }}">
  </head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('accueil') }}"><span>Librairie de l'abbaye de Moissac</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index', quel_index='auteurs')}}">Auteurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('index', quel_index='oeuvres')}}">Œuvres</a>
            </li>
          </ul>
          <form class="d-flex" action="{{url_for("recherche")}}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row"><!-- Contient l'image latérale -->
        <nav id="lateral" class="col-md-2">
        <img class="humilite" src="{{ url_for('static', filename='img/tests_accueil/btv1b105254751_f336-c.jpg')}}"
             alt="Latin 2077 : Humilité">
        </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><!-- Contient la partie principale du gabarit -->
        <div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}

        {% block corps %}
        {% endblock %}
        </div>
    </main>
    </div>
</div>
</body>
</html>